body{
	margin: 0;
	padding: 0;
	outline: none;
}
#futCadastro2{
	margin:auto;
}
#futCadastro{
	margin:auto;
}
.txt{
	height: 15px;
	width: 250px;
	border: none;
	border-radius: 3px;
	background-color: #eeee;
}
.txt2{
	height: 15px;
	width: 250px;
	border: none;
	border-radius: 3px;
	background-color: #eeee;
}
.nav-wrapper{
	background-color: #2e7d32;
}

#log_table{
	height: 200px;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 50px;
}
#log_table2{
	height: 200px;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 30px;
}
#log{
	width: 110px;
	height: 30px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#log2{
	width: 110px;
	height: 30px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#log3{
	width: 170px;
	height: 30px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#log4{
	width: 110px;
	height: 30px;
	margin-inline: -100px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#log10{
	width: 110px;
	height: 30px;
	margin-inline: -50px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#log12{
	width: 110px;
	height: 30px;
	margin-inline: 300px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#neymar{
	width: 300px;
	height: 300px;
}
#cristian{
	width: 300px;
	height: 300px;
}
#ronald{
	width: 300px;
	height: 300px;
}
#marcin{
	width: 300px;
	height: 300px;
}
#roro{
	width: 300px;
	height: 300px;
}
#cardu{
	width: 300px;
	height: 300px;
}
#banner{
	width: 1800px;
	height: 300px;
	margin-inline: auto;
}
#rodape{
	background-color: #2e7d32;
}

------------------------------------------------------------AREA DE TESTES !--------------------------------------------------------------
/*.dropbtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
  background-color: #3e8e41;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}*/
